@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', cursive;
}
h1{
    text-transform: capitalize;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2xvdWR5JTIwd2VhdGhlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60');
    background-size: cover;
    background-repeat: repeat-y;
}
.progress{
    height: 0.2vh;
    background-color: rgb(144, 0, 0);
    animation: progression 1s ease-in 1 forwards;
}
@keyframes progression{
    0%{
        width:0vw;
    }20%{
        width:80vw;
    }80%{
        width:100vw;
    }100%{
        width:0vw;
    }
}
.heading{
    margin: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    box-shadow: 0 0 10px green;
    background-color: blanchedalmond;
    border-radius: 2vw;
    animation: headanimation 1s ease 1s infinite;
}
@keyframes headanimation{
    0%{
        box-shadow: 0 0 10px green;
    }
    100%{
        box-shadow: 0 0 20px green;
    }
}
.heading:hover{
    background-color: rgba(255, 235, 205, 0.3);
    color:rgb(255, 224, 85);
    /* box-shadow: 0 0 20px green; */
    font-weight: bolder;
}
.heading2{
    margin-top: 0vh;
    margin: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30vw;
    box-shadow: 0 0 10px rgb(110, 249, 110);
    background-color: rgb(227, 102, 204);
    border: 5px solid green;
    border-radius: 10px;
}
.heading2:hover{
    color: rgb(212, 255, 0);
    background-color: rgba(227, 102, 204, 0.7);
    box-shadow: 0 0 20px green;
    font-weight: bolder;
}
#cityInput{
    margin-bottom: 2vh;
    padding:1vh;
    text-align:center;
    font-size: 20px;
    font-weight:bold;
    background-color: aqua;
    border: 2px solid rgb(49, 6, 191);
    border-radius: 10px;
}

#inputContainer{
    margin: 3px;
    padding:5px;
    border-radius: 10px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
}
#cityInput:hover{
    border: 5px solid rgb(49, 6, 191);
    box-shadow: 0 0 10px rgb(4, 32, 146);
    background-color: aquamarine;
    font-weight: bolder;
    color: blue;
    border-radius: 10px;
}
button{
    margin: 3px;
    padding:5px;
    text-align:center;
    font-size:20px;
    border:3px solid darkgreen;
    border-radius: 10px;
    box-shadow: 0 8px #666;
    background-color:rgb(113, 179, 0);
    font-weight: bold;
}

button:hover {
    background-color: darkgreen; 
    color: aliceblue;
}

button:active {
  background-color: darkgreen;
  color: aliceblue;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

#iconsContainer{
    width:70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(9, 213, 245, 0.821);
    box-shadow: 0 0 10px rgb(57, 244, 244);
    border: 5px inset rgba(0, 106, 53, 0.829);    
    border-radius: 10px;
    animation: iconanimation 1s ease 1s infinite;
}
@keyframes iconanimation{
    0%{
        box-shadow: 0 0 10px rgb(232, 244, 57);
    }100%{
        box-shadow: 0 0 40px rgb(232, 244, 70);
    }
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 228, 196, 0.505);
    margin: 1vw;
    padding: 0.5vw;
    border: 5px solid rgb(48, 47, 47);
    border-radius: 10px;
}
.icons:hover{
    box-shadow:  0 0 20px rgb(68, 0, 240);
}
.image{
    height: 20vh;
    width: 100%;
}
.image :hover{
    height: 21vh;
    background-size: contain;
}
.imgClass{
    height: 20vh;
    background-size: contain;
    width: 100%;
}

.weather{
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
.weather:hover{
    font-weight: bolder;
    color:blue;
    font-size: larger;
}
.minValues{
    text-align: center;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}
.minValues:hover{
   color:rgb(4, 32, 146);
   font-weight: bolder;
}
.maxValues{
    text-align: center;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}
.maxValues:hover{
    color:rgb(4, 32, 146);
    font-weight: bolder;
}
@media only screen and (max-width : 800px) {
    .heading2 {
        margin: 10vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 70vw;
        box-shadow: 0 0 10px rgb(110, 249, 110);
        background-color: rgb(227, 102, 204);
        border: 5px solid green;
    }
    .heading{
        margin: 10vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 70vw;
        box-shadow: 0 0 10px green;
        background-color: blanchedalmond;
        border-radius: 25px;
        animation: headanimation 1s ease 1s infinite;
    }
    @keyframes headanimation{
        0%{
            box-shadow: 0 0 10px green;
        }
        100%{
            box-shadow: 0 0 20px green;
        }
    }
    .heading:hover{
        background-color: rgba(255, 235, 205, 0.3);
        color:rgb(255, 224, 85);
        box-shadow: 0 0 20px green;
        font-weight: bolder;
    }
    #cityInput{
        margin-bottom: 2vh;
        padding:1vh;
        text-align:center;
        font-size: 20px;
        font-weight:bold;
        background-color: aqua;
        border: 2px solid rgb(49, 6, 191);
        border-radius: 10px;
    }
    
    #inputContainer{
        margin: 3px;
        padding:5px;
        border-radius: 10px;
        text-align:center;
        font-size:20px;
        font-weight:bold;
    }
    #cityInput:hover{
        border: 5px solid rgb(49, 6, 191);
        box-shadow: 0 0 10px rgb(4, 32, 146);
        background-color: aquamarine;
        font-weight: bolder;
        color: blue;
        border-radius: 10px;
    }
    button{
        margin: 1vh;
        padding:1vh;
        text-align:center;
        font-size:20px;
        border:3px solid darkgreen;
        border-radius: 10px;
        box-shadow: 0 8px #666;
        background-color:rgb(113, 179, 0);
        font-weight: bold;
    }
    
    button:hover {
        background-color: darkgreen; 
        color: aliceblue;
    }
    
    button:active {
      background-color: darkgreen;
      color: aliceblue;
      box-shadow: 0 5px #666;
      transform: translateY(3px);
    }
    
    #weatherContainer{
        margin: 5vh;
        width: 70vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(38, 0, 89);
        box-shadow: 0 0 30px rgb(113, 179, 0);
        border: 5px ridge rgba(0, 106, 53, 0.829);
        border-radius: 10px;
    }
    #iconsContainer{
        display: flex;
        width: 80vw;
        padding: 1vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(9, 213, 245, 0.821);
        box-shadow: 0 0 10px rgb(57, 244, 244);
        border: 5px inset rgba(0, 106, 53, 0.829);    
        border-radius: 10px;
        animation: iconanimation 1s ease 1s infinite;
    }
    @keyframes iconanimation{
        0%{
            box-shadow: 0 0 10px rgb(232, 244, 57);
        }100%{
            box-shadow: 0 0 40px rgb(232, 244, 70);
        }
    }
    .icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 228, 196, 0.505);
        width: 70vw;
        height: 45vh;
        margin: 20px;
        padding: 1vh;
        border: 5px solid rgb(48, 47, 47);
        border-radius: 10px;
    }
    .icons:hover{
        box-shadow:  0 0 20px rgb(68, 0, 240);
    }
    .image{
        height: 31vh;
        width: 100%;
    }
    .image :hover{
        height: 32vh;
    }
    .imgClass{
        height: 31vh;
        background-size: contain;
        width: 100%;
    }
}
