@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    /* color: rgb(7, 1, 1); */
    /* background: rgba(145, 243, 7, 0.564); */
    font-family: 'Titillium Web', cursive;
}
h1{
    text-transform: capitalize;
}
body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8xJu-rNfIq3bxLZvSPmEfoc0aq-XpXY_VQKS407k45g&s');
    background-size: cover;
    /* background: rgba(169, 236, 240, 0.688); */
}
.progress{
    height: 2px;
    background-color: rgb(25, 0, 255);
    animation: progression 1.5s ease-in 1 forwards;
}
@keyframes progression{
    0%{
        width:0vw;
    }20%{
        width:80vw;
    }80%{
        width:100vw;
    }100%{
        width:0vw;
    }
}
.heading{
    margin: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    box-shadow: 0 0 10px green;
    background-color: blanchedalmond;
    border-radius: 25px;
    animation: headanimation 1s ease 1s infinite;
}
@keyframes headanimation{
    0%{
        box-shadow: 0 0 10px green;
    }
    100%{
        box-shadow: 0 0 20px green;
    }
}
.heading:hover{
    background-color: rgba(255, 235, 205, 0.5);
    color:red;
    /* box-shadow: 0 0 20px green; */
    font-weight: bolder;
}
.heading2{
    margin: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    box-shadow: 0 0 10px rgb(110, 249, 110);
    background-color: rgb(227, 102, 204);
    border: 5px solid green;
    border-radius: 10px;
}
.heading2:hover{
    color: blue;
    background-color: rgba(227, 102, 204, 0.5);
    box-shadow: 0 0 20px green;
    font-weight: bolder;
}
#cityInput{
    margin: 3px;
    padding:5px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    background-color: aqua;
    border: 2px solid rgb(49, 6, 191);
    border-radius: 10px;
}

#inputContainer{
    margin: 3px;
    padding:5px;
    border-radius: 10px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
}
#cityInput:hover{
    border: 5px solid rgb(49, 6, 191);
    box-shadow: 0 0 10px rgb(4, 32, 146);
    background-color: aquamarine;
    font-weight: bolder;
    color: blue;
    border-radius: 10px;
}
button{
    margin: 3px;
    padding:5px;
    text-align:center;
    font-size:20px;
    border:3px solid darkgreen;
    border-radius: 10px;
    box-shadow: 0 8px #666;
    background-color:rgb(113, 179, 0);
    font-weight: bold;
}

button:hover {
    background-color: darkgreen; 
    color: aliceblue;
}

button:active {
  background-color: darkgreen;
  color: aliceblue;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

#weatherContainer{
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 1260px;
    background-color: rgb(38, 0, 89);
    box-shadow: 0 0 30px rgb(113, 179, 0);
    border: 5px ridge rgba(0, 106, 53, 0.829);
    border-radius: 10px;
}

#iconsContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(9, 213, 245, 0.821);
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 240px;
    width: 1200px;    
    box-shadow: 0 0 10px rgb(57, 244, 244);
    border: 5px inset rgba(0, 106, 53, 0.829);    
    border-radius: 10px;
    animation: iconanimation 1s ease 1s infinite;
}
@keyframes iconanimation{
    0%{
        box-shadow: 0 0 10px rgb(232, 244, 57);
    }100%{
        box-shadow: 0 0 40px rgb(232, 244, 70);
    }
}
.icons{
    display: inline-bock;
    background-color: rgba(255, 228, 196, 0.505);
    float: left;
    height: 200px;
    width: 190px;
    margin: 20px;
    border: 5px solid rgb(48, 47, 47);
    border-radius: 10px;
}
.icons:hover{
    box-shadow:  0 0 20px rgb(68, 0, 240);
}
.image{
    height: 140px;
    width: 100%;
}

.imgClass{
    height: 140px;
    width: 100%;
}

.weather{
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
.weather:hover{
    color:blue;
    font-weight: bolder;
}
.minValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}
.minValues:hover{
   color:rgb(4, 32, 146);
}
.maxValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}
.maxValues:hover{
    color:rgb(4, 32, 146);
}